{% extends "../layout.html" %}

{% block import %}
<link rel="stylesheet" type="text/css" href="/static/style/promo.css">
{% endblock %}

{% block main %}
<div class="promo-container promo-container-fill">
    <form style="display: grid; grid-template-columns: min-content auto; grid-gap: var(--scale-large);" action="/user/login/" method="post">
        <p style="grid-column: 1 / 3;">Benutzername</p>
        <img type="image/svg" src="/static/assets/icons/tag.svg">
        <input type="text" name="username" autocomplete="username">
        <p style="grid-column: 1 / 3;">Password</p>
        <img type="image/svg" src="/static/assets/icons/key.svg">
        <input type="password" name="password" autocomplete="current-password">
        <button class="button button-highlight button-center" style="grid-column: 1 / 3;" type="submit">EINLOGGEN</button>
        <p style="grid-column: 1 / 3; text-align: center;">Noch kein Benutzer? <a class="button" style="padding: var(--scale); display: inline-flex;" href="/user/register/">Registrieren</a></p>
    </form>
</div>
{% endblock %}