<!DOCTYPE html>
<html data-scroll="0">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UpGrade{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style/layout.css">
    <script type="module" src="/static/script/dist/main.js"></script>
    <!-- Imports -->
    {% block import %}
    {% endblock %}
</head>

<body>
    <header>
        <a class="logo-container" href="/">
            <img class="logo" type="image/svg" src="/static/assets/logo.svg">
            <div class="separator-vertical separator-tinym"></div>
            <div class="separator-vertical separator-tiny"></div>
            <div class="logo-text">
                <p>UpGrade</p>
                <p>Nachhilfe</p>
            </div>
        </a>
        <nav>
            <a class="button button-highlight" href="/">
                <img type="image/svg" src="/static/assets/icons/home.svg">
                <p>HOME</p>
            </a>
            <div class="dropdown-container">
                <a class="button button-highlight">
                    <img type="image/svg" src="/static/assets/icons/user.svg">
                    <p>BENUTZER</p>
                    <img class="dropdown-triangle" type="image/svg" src="/static/assets/icons/triangle.svg">
                </a>
                {% if user %}
                <div class="dropdown nav">
                    <a class="button">
                        <img type="image/svg" src="/static/assets/icons/placeholder.svg">
                        <p>PROFIL</p>
                    </a>
                    <a class="button" href="/user/logout/">
                        <img type="image/svg" src="/static/assets/icons/logout.svg">
                        <p>AUSLOGGEN</p>
                    </a>
                </div>
                {% else %}
                <div class="dropdown nav">
                    <a class="button" href="/user/login/">
                        <img type="image/svg" src="/static/assets/icons/login.svg">
                        <p>ANMELDEN</p>
                    </a>
                    <a class="button" href="/user/register/">
                        <img type="image/svg" src="/static/assets/icons/register.svg">
                        <p>REGISTRIEREN</p>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="dropdown-container">
                <a class="button button-highlight">
                    <img type="image/svg" src="/static/assets/icons/context.svg">
                    <p>EXTRA</p>
                    <img class="dropdown-triangle" type="image/svg" src="/static/assets/icons/triangle.svg">
                </a>
                <div class="dropdown nav">
                    <a class="button" href="/about/">
                        <img type="image/svg" src="/static/assets/icons/info.svg">
                        <p>ÜBER UNS</p>
                    </a>
                    <a class="button" href="/support/">
                        <img type="image/svg" src="/static/assets/icons/wrench.svg">
                        <p>SUPPORT</p>
                    </a>
                </div>
            </div>
        </nav>
        <div id="nav-toggle">
            <img type="image/svg" src="/static/assets/nav.svg">
        </div>
    </header>
    <main>
        <!-- Main -->
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <!-- @TODO: footer -->
        <div class="logo-container-simple">
            <div class="separator-vertical separator-tinym"></div>
            <div class="separator-vertical separator-tiny"></div>
            <div class="logo-text">
                <p>UpGrade</p>
                <p>Nachhilfe</p>
            </div>
        </div>
    </footer>
</body>

</html>