:root {
    /* Padding & Margin */

    --scale: 8px;

    --scale-small: 4px;
    --scale-smallm: 6px;
    --scale-large: 16px;
    --scale-largem: 12px;
    
    --scale-tiny: 2px;
    --scale-tinym: 3px;
    --scale-huge: 32px;
    --scale-hugem: 24px;

    /* Text Size */

    --size-text: 16px;
    --size-text-small: 8px;
    --size-text-smallm: 12px;
    --size-text-large: 32px;
    --size-text-largem: 24px;

    /* Color Palette */

    
    --color-accent: #7fbf1f;
    --color-accent-dark: #007f3f;
    --color-accent-darker: #004f1f;
    --color-accent-bright: #afef00;
    --color-accent-brighter: #bfff00;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-text: var(--color-white);

    /* Gradients */

    --gradient-accent-vertical-descending: linear-gradient(
        to bottom, 
        var(--color-accent), 
        var(--color-accent-dark)
    );
    --gradient-accent-vertical-ascending: linear-gradient(
        to top, 
        var(--color-accent), 
        var(--color-accent-dark)
    );

    --gradient-accent-horizontal-descending: linear-gradient(
        to right, 
        var(--color-accent), 
        var(--color-accent-dark)
    );
    --gradient-accent-horizontal-ascending: linear-gradient(
        to left, 
        var(--color-accent), 
        var(--color-accent-dark)
    );

    --gradient-accent-bright-vertical-descending: linear-gradient(
        to bottom, 
        var(--color-accent),
        var(--color-accent-bright)
    );
    --gradient-accent-bright-vertical-ascending: linear-gradient(
        to top, 
        var(--color-accent),
        var(--color-accent-bright)
    );

    --gradient-accent-bright-horizontal-descending: linear-gradient(
        to left, 
        var(--color-accent),
        var(--color-accent-bright)
    );
    --gradient-accent-bright-horizontal-ascending: linear-gradient(
        to right, 
        var(--color-accent),
        var(--color-accent-bright)
    );

    /* Transitions */

    --transition-duration: 0.2s;
    --transition-function: ease-in-out;

    /* z-index Layers */

    --layer-top: 100;
    --layer-important: 1;
    --layer-base: 0;
}



/*
    >>>
    Global Selectors
    >>>
*/



* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: visible;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* font-family: Consolas, 'Courier New', monospace; */
    font-family: Arial, Helvetica, sans-serif, "Segoe UI Emoji";
    font-size: var(--size-text);
}



/*
    >>>
    Classes
    >>>
*/



/* Separators */

.separator-vertical,

.separator-vertical-small,
.separator-vertical-smallm,
.separator-vertical-large,
.separator-vertical-largem,

.separator-vertical-tiny,
.separator-vertical-tinym,
.separator-vertical-huge,
.separator-vertical-hugem
{
    height: 100%;

    background-color: var(--color-white);
}

.separator-vertical {
    width: var(--scale);
}

.separator-vertical-small {
    width: var(--scale-small);
}
.separator-vertical-smallm {
    width: var(--scale-smallm);
}

.separator-vertical-large {
    width: var(--scale-large);
}
.separator-vertical-largem {
    width: var(--scale-largem);
}

.separator-vertical-tiny {
    width: var(--scale-tiny);
}
.separator-vertical-tinym {
    width: var(--scale-tinym);
}

/* Banner */

.banner,
header,
footer 
{
    width: 100%;
    height: 64px;

    display: flex;

    color: var(--color-text);
    /* background-color: var(--color-accent-dark); */
    background: var(--gradient-accent-vertical-ascending);

    z-index: 1;
}

/* Logo */

.logo-container {
    width: auto;
    height: 100%;

    padding: var(--scale);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    text-decoration: none;

    color: var(--color-text);
    background-color: transparent;
}

    .logo {
        width: auto;
        height: 100%;

        margin-right: var(--scale-small);

        object-fit: contain;
    }

    .logo-container .separator-vertical-tinym {
        margin-left: var(--scale-tiny);
    }

    .logo-container .separator-vertical-tiny {
        margin-left: var(--scale-tiny);
        margin-right: var(--scale-tiny);
    }

    .logo-text {
        width: auto;
        height: 100%;

        margin-left: var(--scale-small);
        /* padding-left: 8px; */

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        /* border-left-style: solid;
        border-left-width: 2px;
        border-left-color: var(--color-white); */
    }

        .logo-text p:first-child {
            font-size: calc(48px * (3 / 5) - 4px);
            font-weight: bold;
        }

        .logo-text p:last-child {
            font-size: calc(48px * (2 / 5) - 4px);
        }

/* Button */

.button {
    width: auto;
    height: auto;

    padding: var(--scale-largem);
    padding-left: var(--scale-large);
    padding-right: var(--scale-large);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    /* border-radius: var(--padding-large); */

    font-size: var(--size-text);
    font-weight: normal;
    text-decoration: none;

    color: var(--color-text);
    background-color: transparent;

    transition-property: font-size, color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
}

    .button:hover {
        background: var(--gradient-accent-vertical-descending);
    }

.button-highlight {
    font-weight: bold;

    background: var(--gradient-accent-vertical-descending);
}

    .button-highlight:hover {
        background: var(--gradient-accent-bright-vertical-ascending);
    }



/*
    >>>
    Header
    >>>
*/



header {
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    width: auto;
    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    z-index: var(--layer-top);
}

    nav .button,
    nav .button-highlight 
    {
        width: auto;
        height: 100%;
    }

#nav-toggle {
    width: auto;
    height: 100%;

    padding: var(--scale-largem);

    display: none;

    cursor: pointer;

    transition-property: padding;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
}

    #nav-toggle:hover {
        padding: var(--scale);
    }

    #nav-toggle img {
        width: auto;
        height: 100%;

        object-fit: contain;
    }

    

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

footer {
    background: var(--gradient-accent-vertical-descending);
}

/*
    >>>
    Queries
    >>>
*/



@media screen and (min-width: 721px) {
    nav {
        transform: translateX(0%) !important;
        
        transition-property: transform;
        transition-duration: 0s;
    }
}

@media screen and (max-width: 720px) {
    nav {
        width: auto;
        max-width: 33.3333%;
        height: calc(100vh - 100%);

        /* padding: 0px; */

        overflow-x: visible;
        overflow-y: auto;

        position: absolute;
        top: 100%;
        right: 0px;
        transform: translateX(100%);

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        background-color: var(--color-accent);

        transition-property: transform;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
    }

        nav .button,
        nav .button-highlight 
        {
            width: 100%;
            height: auto;
        }

            nav .button:hover {
                background: var(--gradient-accent-horizontal-descending);
            }

        nav .button-highlight {
            background: var(--gradient-accent-horizontal-descending);
        }

            nav .button-highlight:hover {
                background: var(--gradient-accent-bright-horizontal-ascending);
            }

    #nav-toggle {
        display: block;
    }
}