{% extends "layout.html" %}

{% block import %}
<link rel="stylesheet" type="text/css" href="/static/style/promo.css">
{% endblock %}

{% block main %}
<section class="promo-container">
    <div class="promo promo-list">
        <div class="promo-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Suscipit tellus mauris a diam. Arcu felis bibendum ut tristique et. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Diam vel quam elementum pulvinar. Adipiscing elit pellentesque habitant morbi tristique senectus et netus.</p>
        </div>
        <div class="promo-image-container" style="margin-top: var(--scale-huge);">
            <img class="promo-image" type="image/jpeg" src="/static/assets/images/team.jpg">
        </div>
    </div>
</section>
{% endblock %}